<mat-toolbar>
  <span>{{employeeService.form.controls['$key'].value ? "Edit Employee" : "Create Employee"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onCloseDialog()" tabindex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<form  (ngSubmit)="onSubmit()" [formGroup]="employeeForm()" class="normal-form">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
          <input type="text" formControlName="fullName" matInput placeholder="Full Name*">
          <mat-error *ngIf="employeeForm().controls.fullName.errors?.required">
            This filed is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="text" formControlName="email" matInput placeholder="Email">
          <mat-error>Invalid email address.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="text" formControlName="mobile" matInput placeholder="Mobile*">
          <mat-error *ngIf="employeeForm().controls.mobile.errors?.required">This filed is required.</mat-error>
          <mat-error *ngIf="employeeForm().controls.mobile.errors?.minlength">Minimum 8 characters needed</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="text" formControlName="city" matInput placeholder="City">
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <div class="add-bottom-padding">
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="1">Male</mat-radio-button>
            <mat-radio-button value="2">Female</mat-radio-button>
            <mat-radio-button value="3">Other</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-form-field>
          <mat-select formControlName="department" placeholder="Department">
            <ng-container *ngFor="let department of departmentService.arrayDepartment">
              <mat-option value="{{department.$key}}">{{department.name}}</mat-option>
            </ng-container>
            <mat-error *ngIf="employeeForm().controls.department.errors?.required">This filed is required.</mat-error>
          </mat-select>

        </mat-form-field>
        <mat-form-field>
          <input type="text" formControlName="hireDate" matInput [matDatepicker]="picker" placeholder="Hire Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="add-bottom-padding">
          <mat-checkbox formControlName="isPermanent">Permanent Employee</mat-checkbox>
        </div>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="employeeForm().invalid">Submit</button>
          <button mat-raised-button color="warn" type="submit" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
